<footer id="piePagina">
    <div class="">
        <div class="flex flex-row"><!--div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4"-->            
                <div class="basis-1/4 contenedor-logonoticas">
                    <img src="./../../assets/Recursos/logo noticias texto blanco.png" alt="logo-unslNoticias" class="logosUNI">                
                  <ul class="listasContactoSecciones text-white">
                    <li><img src="./../../assets/Recursos/phone-call.png" alt="logo-phone" class="logosFooter"> +54 (0266) 4520300 Interno --> 5216</li>
                    <li><img src="./../../assets/Recursos/place.png" alt="logo-phone" class="logosFooter"><a href="https://goo.gl/maps/9LuCw5mrmjQ6JMN69" class="linkInactivos">Ejército de Los Andes 950, San Luis, Argentina</a></li>
                    <li><img src="./../../assets/Recursos/map.png" alt="logoMap" class="logosFooter">Piso Edificio Rectorado - Ala A</li>
                    <li><img src="./../../assets/Recursos/email.png" alt="logoMail" class="logosFooter">prensa@unsl.edu.ar</li>
                  </ul>
                </div>
                  <div class="basis-1/4">
                    <ul class="listasContactoSecciones">
                        <h5 class="text-white" style="font-size: large;">Secciones</h5>
                        <li><a href="http://" class="linkInactivos">INICIO</a></li>
                        <li><a href="http://" class="linkInactivos">UNSL</a></li>
                        <li><a href="http://" class="linkInactivos">INSTITUCIONAL</a></li>
                        <li><a href="http://" class="linkInactivos">CIENCIA</a></li>
                        <li><a href="http://" class="linkInactivos">SOCIEDAD</a></li>
                        <li><a href="http://" class="linkInactivos">CULTURA</a></li>
                        <li><a href="http://" class="linkInactivos">LABORATORIO</a></li>
                        <li><a href="http://" class="linkInactivos">ENTREVISTAS</a></li>
                        <li><a href="http://" class="linkInactivos">UNSL TV</a></li>
                        <li><a href="http://" class="linkInactivos">RADIOUNIVERSIDAD</a></li>
                        <li><a href="http://" class="linkInactivos">ACCESO</a></li>
                    </ul>
                  </div>
            
            <div class="basis-1/2">
                <div id="contendedor-suscribir">
                    <h2 class="text-white" style="font-size: xx-large;">Newsletter</h2>
                    <p class="fs-6">Si quieres estar informado puntualmente de todas las novedades sobre Noticias UNSL registrate gratuitamente con tu correo electrónico</p>
                    <form action="mailto:" method="POST">
                      <input type="mail" class="text-white"  placeholder="Correo Electrónico" style="border-radius: 30px;">
                      <button style="margin-left: -40px;"><img src="./../../assets/Recursos/sendicon.png" alt="icon-send" id="btn-enviar"></button>
                    </form>
                </div>
                <div class="container contenedor-redes m-4">
                    <h5 class="text-lg text-white">Seguinos en nuestras Redes</h5>
                    <a href=""><img src="./../../assets/Recursos/facebook.png" alt="logo-facebook" class="img-redesSociales"></a>
                    <a href=""><img src="./../../assets/Recursos/instagram.png" alt="logo-facebook" class="img-redesSociales"></a>
                    <a href=""><img src="./../../assets/Recursos/twitter.png" alt="logo-facebook" class="img-redesSociales"></a>
                  </div>  
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="container">
                <img src="./../../assets/Recursos/isologo_unsl_blanco.png" alt="logo-UNSL" id="imgUNSL">
                <p class="text-lg text-center text-white m-4">Diseño y desarrollo a cargo de la Secretaría de Comunicación Institucional - Versión 2.1 - Contacto: sci@unsl.edu.ar | Política de privacidad | Términos y condiciones</p>
            </div>
        </div>
    </div>
    <p class="mb-5 mt-5 ml-4 mr-4 p-1 text-lg text-left text-white">Diseño y desarrollo a cargo de la Secretaría de Comunicación Institucional - Versión 2.1 - Contacto: sci@unsl.edu.ar | Política de privacidad | Términos y condiciones</p>
</footer>