<section id="novedades" class="mt-10 mb-5 bg-gray-100 p-20">
    <div class="container mx-auto">
        <h2 class="text-2xl mb-5">Multimedios</h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 gap-6">            
            
            <div class="wrapper bg-transparent antialiased text-gray-900">
                <div>
                    <iframe src="https://www.youtube.com/embed/VUjuReIIvUg" class="w-full h-96 object-cover object-center rounded-lg shadow-md" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
                    <!--img src="https://source.unsplash.com/random/350x350" alt=" random imgee" class="w-full object-cover object-center rounded-lg shadow-md"-->                        
                 <div class="relative px-4 -mt-16  ">
                   <div class="bg-white p-6 rounded-lg shadow-lg">
                    <div class="flex items-baseline">
                      <span class="bg-blue-800 text-teal-400  text-xs px-2 inline-block rounded-full  uppercase font-semibold tracking-wide">
                        Institucional
                      </span>
                      <div class="ml-2 text-gray-600 uppercase text-xs font-semibold tracking-wider">
                     &bull; 13 oct 2022
                  </div>  
                    </div>
                    
                    <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">Doctorado Honoris Causa - José "Pepe" Mujica                    </h4>
                 
                  <div class="mt-1">
                    El Viernes 21 de Octubre a las 17:30hs la Universidad Nacional de San Luis hará entrega del Doctorado Honoris Causa a José "Pepe" Mujica.
                    
                  </div>
                  <div class="mt-2">
                    <span class="text-blue-900 text-sm font-light">15 visualizaciones </span>                   
                  </div>  
                  </div>
                 </div>                  
                </div>
            </div>
            
            <div class="wrapper bg-transparent antialiased text-gray-900">
                <div>                    
                    <iframe src="https://www.youtube.com/embed/eflnp4M8-_c" class="w-full h-96 object-cover object-center rounded-lg shadow-md" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
                    <!--img src="https://source.unsplash.com/random/350x350" alt=" random imgee" class="w-full object-cover object-center rounded-lg shadow-md"-->                        
                 <div class="relative px-4 -mt-16  ">
                   <div class="bg-white p-6 rounded-lg shadow-lg">
                    <div class="flex items-baseline">
                      <span class="bg-blue-800 text-teal-400 text-xs px-2 inline-block rounded-full  uppercase font-semibold tracking-wide">
                        San Luis
                      </span>
                      <div class="ml-2 text-gray-600 uppercase text-xs font-semibold tracking-wider">
                     &bull; 25 ago 2020
                  </div>  
                    </div>
                    
                    <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">25 de Agosto | Día de SAN LUIS</h4>
                 
                  <div class="mt-1 ">
                    En un nuevo aniversario de la fundación de San Luis… ¿Te preguntaste cómo era nuestra ciudad en la época colonial? 
                    San Luis de la Punta era una población muy pequeña. 
                  </div>
                  <div class="mt-2">
                    <span class="text-blue-900 text-sm font-light">6626 visualizaciones </span>                   
                  </div>  
                  </div>
                 </div>                  
                </div>
            </div>

            <div class="wrapper bg-transparent antialiased text-gray-900">
                <div>
                    <iframe src="https://www.youtube.com/embed/6HpFUXV0Azw" class="w-full h-96 object-cover object-center rounded-lg shadow-md" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                   
                    <!--img src="https://source.unsplash.com/random/350x350" alt=" random imgee" class="w-full object-cover object-center rounded-lg shadow-md"-->                        
                 <div class="relative px-4 -mt-16  ">
                   <div class="bg-white p-6 rounded-lg shadow-lg">
                    <div class="flex items-baseline">
                      <span class="bg-blue-800 text-teal-400 text-xs px-2 inline-block rounded-full  uppercase font-semibold tracking-wide">
                        Música
                      </span>
                      <div class="ml-2 text-gray-600 uppercase text-xs font-semibold tracking-wider">
                     &bull; 08 sept 2022
                  </div>  
                    </div>
                    
                    <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">INSTRUMENTOS | Corno Frances                    </h4>
                 
                  <div class="mt-1">
                    “Instrumentos: así somos, así sonamos” es una serie de micros educativos sobre los instrumentos que integran una orquesta sinfónica. El proyecto es elaborado por la Universidad Nacional de Tucumán y tiene por objetivo difundir el uso de los instrumentos y dar a conocer la actividad de la agrupación musical universitaria como semillero de la Orquesta Mayor. 
                    
                  </div>
                  <div class="mt-2">
                    <span class="text-blue-900 text-sm font-light">36 visualizaciones </span>                   
                  </div>  
                  </div>
                 </div>                  
                </div>
            </div>
        </div>
    </div>
</section>